.character-stats-container-image {
    position: relative;
    overflow: hidden;
    background: linear-gradient(
      45deg,
      transparent 8%,
      rgb(76, 42, 32) 50%,
      transparent 92%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.character-stats-container-image-content {
    width: 100%;
    overflow: hidden;
    height: 100%;
}


.character-stats-container-image-content img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 400px) {
    .character-stats-container-image {
        width: 100%;
    }
}