.dark {
    background-color: rgba(0,0,0,0.4);
}

.character-resource-item {
    width: 100%;
}

.character-resource-item-stats-postive {
    color: green;
}

.character-resource-item-stats-negative {
    color: red;
}