.equipment {
    height: 100%;
}

.equipment-character {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .equipment {
        align-items: flex-start;
        overflow-x: auto;
    }
    .equipment-character {
        flex-wrap: wrap;
    }
    .equipment-character > div {
        width: 100%
    }
}

@media screen and (min-width: 1021px) {
    .equipment-character {
        height: 470px;
    }
}