.equipment-container-item {
    border: 1px solid black;
    width: 100%;
    transition: .3s;
    height: 60px;
    overflow: hidden;
}

.equipment-container-item:hover {
    height: 120px;
}

.equipment-container-item-stats {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 60px;
    cursor: pointer;
}

.equipment-container-item-header {
    width: 100%;
    height: 60px;
    display: flex;
}

.equipment-container-item-image {
    height: 60px;
}

.equipment-container-item-image img {
    height: 100%;
}

.equipment-container-item-actions {
    width: 70%;
    transition: .3s;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.equipment-container-item-actions button {
    margin: 0;
    padding: 2px 10px;
    background-color: transparent;
    border: 1px solid #333;
    color: #ddd;
    cursor: pointer;
}


.equipment-container-item-actions span {
    width: 100%;
    display: block;
    text-align: center;
}


.equipment-container-item-stats:hover .equipment-container-item-actions{
    height: 60px;
    margin-top: 0;
}

