.equipment {
    height: 120%;
}

.equipment > div {
    width: 50%;
}

.equipment-character {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .equipment {
        align-items: flex-start;
        overflow-x: auto;
    }
    .equipment-character {
        flex-wrap: wrap;
    }
    .equipment-character > div {
        width: 100%
    }
}