.equipment-container-row {
    display: flex;
    margin: 10px 0;
    gap: 10px;
}

.equipment-container {

    background-color: rgb(13, 18, 28);
    gap: 10px;
    display: flex;
    flex-direction: column;
}