@keyframes shake {
    0% { transform: translateY(0) rotate(0)}
    25% { transform: translateY(2px) rotate(4deg)}
    50% { transform: translateY(-2px) rotate(-2deg)}
    75% { transform: translateY(2px) rotate(4deg)}
    100% { transform: translateY(0) rotate(0)}
}

.fight-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
    height: calc(70%);
}

.fight-container-character-card {
    width: 250px;
    height: 410px;
    background: rgb(2,9,3);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.character-hp-bar-border {
    border-top: 0;
    border-right: 2px solid rgb(2,9,3);
    border-left: 2px solid rgb(2,9,3);
    border-bottom: 2px solid rgb(2,9,3);
    background: radial-gradient(#111, rgb(2,2,2));
    width: calc(100% - 4px);
    height: 40px;
    position: relative;;
}

.character-hp-bar {
    background: radial-gradient(rgb(11, 38, 11), rgb(4, 20, 4));
    transition: .3s ease-in;
    height: 100%;
}

.character-hp-bar-text {
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.character-image {
    width: calc(100% - 6px);
    margin: 3px 3px 0 3px;
    overflow: hidden;
}

.character-image img {
    width: 100%;
}

.test {
    animation-name: shake;
    animation-duration: 0.3s;
}

@media only screen and (max-width: 720px) {
    .fight-container-character-card {
        width: 40%;
        height: auto;
    }
}