.main-news-banner {
    width: 700px;
    position: relative;
    overflow: hidden;
}

.main-news-banner img {
    width: 100%;
}

.main-news-banner-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    background-color: rgba(0,0,0,0.4);
    max-height: 60%;
}

.main-news-banner-text h1,
.main-news-banner-text p {
    padding: 2px;
}