.main-news-list-item {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    height: 20%;
    transition: .3s;
    padding: 0 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.main-news-list-item:hover {
    background-color: rgba(0,0,0,0.1);
    padding-left: 20px;
}


.main-news-list-item:last-child {
    border-bottom: none;
}

.main-news-list-item h4 {
    margin: 0;
    font-weight: 400;
}