.header-resources {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 340px;
    font-size: 14px;
}

.header-resources-gold {
    display: flex;
    align-items: center;
}

.header-resources-gold > img {
    height: 20px;
}