.header-lvl-bar {
    width: 240px;
    height: 23px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-lvl-bar-icon {
    border-radius: 5px;
    height: 34px;
    width: 34px;
    background: radial-gradient(#222, #000);
    border: 1px solid rgb(59, 85, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    z-index: 4;
}
