.sidebar-list {
    width: 100%;
}

.sidebar-list > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-list > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding: 5px 0;
    cursor: pointer;
    transition: .3s;
}

.sidebar-list > ul > li:hover {
    background-color: rgba(0,0,0,0.2);
}