.item-stats {
    width: 100%;
    font-size: 14px;
}

.item-stats-column {
    display: flex;
    width: 100%;
}

.item-stats-row {
    width: 100%;
}

.item-stats-cell {
    width: 100%;
}

.item-stats-empty {
    text-transform: uppercase;
}